matiasmasso/Mat.NET/AeatSii/Connected Services/SoapFacturasRecibidas/ConsultaLR1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" xmlns:siiLRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" elementFormDefault="qualified" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SuministroInformacion.xsd" namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" />
  <complexType name="LRFiltroEmitidasType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="IDFactura" type="sii:IDFacturaConsulta2Type" />
          <element minOccurs="0" name="Contraparte" type="sii:ContraparteConsultaType" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="FechaCuadre" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="FacturaModificada" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="EstadoCuadre" type="sii:EstadoCuadreType" />
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaExpedidaBCType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroFactInformadasClienteType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSiiImputacion">
        <sequence>
          <element minOccurs="0" name="Cliente" type="sii:PersonaFisicaJuridicaUnicaESType" />
          <element minOccurs="0" name="NumSerieFacturaEmisor" type="sii:TextoIDFacturaType" />
          <element minOccurs="0" name="EstadoCuadre" type="sii:EstadoCuadreImputacionType" />
          <element minOccurs="0" name="FechaExpedicion" type="sii:RangoFechaType" />
          <element minOccurs="0" name="FechaOperacion" type="sii:RangoFechaType" />
          <element minOccurs="0" name="ClavePaginacion" type="sii:ClavePaginacionClienteType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroFactInformadasAgrupadasClienteType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSiiImputacion">
        <sequence>
          <element minOccurs="0" name="Cliente" type="sii:PersonaFisicaJuridicaUnicaESType" />
          <element minOccurs="0" name="EstadoCuadre" type="sii:EstadoCuadreImputacionType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroFactInformadasProveedorType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSiiImputacion">
        <sequence>
          <element minOccurs="0" name="Proveedor" type="sii:PersonaFisicaJuridicaUnicaESType" />
          <element minOccurs="0" name="NumSerieFacturaEmisor" type="sii:TextoIDFacturaType" />
          <element minOccurs="0" name="EstadoCuadre" type="sii:EstadoCuadreImputacionType" />
          <element minOccurs="0" name="FechaExpedicion" type="sii:RangoFechaType" />
          <element minOccurs="0" name="FechaOperacion" type="sii:RangoFechaType" />
          <element minOccurs="0" name="ClavePaginacion" type="sii:ClavePaginacionProveedorType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroFactInformadasAgrupadasProveedorType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSiiImputacion">
        <sequence>
          <element minOccurs="0" name="Proveedor" type="sii:PersonaFisicaJuridicaUnicaESType" />
          <element minOccurs="0" name="EstadoCuadre" type="sii:EstadoCuadreImputacionType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroRecibidasType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="IDFactura" type="sii:IDFacturaConsulta1Type" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="FechaCuadre" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="FacturaModificada" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="EstadoCuadre" type="sii:EstadoCuadreType" />
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaRecibidaNombreBCType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroBienInversionType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="IDFactura" type="sii:IDFacturaConsulta1Type" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="FacturaModificada" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="IdentificacionBien" type="sii:TextMax40Type" />
          <element minOccurs="0" name="ClavePaginacion" type="sii:ClavePaginacionBienType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroDetOperIntracomunitariasType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="IDFactura" type="sii:IDFacturaConsulta1Type" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="FacturaModificada" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaComunitariaType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroOperacionesSegurosType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="Contraparte" type="sii:ContraparteConsultaType" />
          <element minOccurs="0" name="ClaveOperacion" type="sii:ClaveOperacionType" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="OperacionModificada" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="ClavePaginacion">
            <complexType>
              <sequence>
                <element name="Contraparte" type="sii:PersonaFisicaJuridicaType" />
                <element name="ClaveOperacion" type="sii:ClaveOperacionType" />
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroCobrosMetalicoType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="Contraparte" type="sii:ContraparteConsultaType" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="CobroModificado" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="ClavePaginacion">
            <complexType>
              <sequence>
                <element name="Contraparte" type="sii:PersonaFisicaJuridicaType" />
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroAgenciasViajesType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="Contraparte" type="sii:ContraparteConsultaType" />
          <element minOccurs="0" name="FechaPresentacion" type="sii:RangoFechaPresentacionType" />
          <element minOccurs="0" name="RegistroModificado" type="sii:FacturaModificadaType" />
          <element minOccurs="0" name="ClavePaginacion">
            <complexType>
              <sequence>
                <element name="Contraparte" type="sii:PersonaFisicaJuridicaType" />
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroCobrosType">
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaExpedidaBCType" />
      <element minOccurs="0" name="ClavePaginacion" type="double" />
    </sequence>
  </complexType>
  <complexType name="LRFiltroInmueblesAdicionalesType">
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaExpedidaBCType" />
    </sequence>
  </complexType>
  <complexType name="LRFiltroPagosType">
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaRecibidaNombreBCType" />
      <element minOccurs="0" name="ClavePaginacion" type="double" />
    </sequence>
  </complexType>
  <complexType name="LRConsultaRecibidasType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroRecibidasType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaEmitidasType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroEmitidasType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaLRFactInformadasClienteType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacionCliente">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroFactInformadasClienteType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaLRFactInformadasAgrupadasClienteType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacionCliente">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroFactInformadasAgrupadasClienteType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaLRFactInformadasProveedorType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacionProveedor">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroFactInformadasProveedorType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaLRFactInformadasAgrupadasProveedorType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacionProveedor">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroFactInformadasAgrupadasProveedorType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaBienesInversionType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroBienInversionType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaDetOperIntracomunitariasType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroDetOperIntracomunitariasType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaCobrosMetalicoType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroCobrosMetalicoType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaAgenciasViajesType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroAgenciasViajesType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaLROperacionesSegurosType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroOperacionesSegurosType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaCobrosType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsultaCobros" type="siiLRC:LRFiltroCobrosType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaPagosType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsultaPagos" type="siiLRC:LRFiltroPagosType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaInmueblesAdicionalesType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsultaInmueblesAdicionales" type="siiLRC:LRFiltroInmueblesAdicionalesType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ConsultaLRFacturasRecibidas" type="siiLRC:LRConsultaRecibidasType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Recibidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRFacturasEmitidas" type="siiLRC:LRConsultaEmitidasType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Emitidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRFactInformadasCliente" type="siiLRC:ConsultaLRFactInformadasClienteType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Informadas por Cliente</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRFactInformadasAgrupadasCliente" type="siiLRC:ConsultaLRFactInformadasAgrupadasClienteType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Informadas Agrupadas por Cliente</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRFactInformadasProveedor" type="siiLRC:ConsultaLRFactInformadasProveedorType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Informadas por Proveedor</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRFactInformadasAgrupadasProveedor" type="siiLRC:ConsultaLRFactInformadasAgrupadasProveedorType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Informadas Agrupadas por Proveedor</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRBienesInversion" type="siiLRC:LRConsultaBienesInversionType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de bienes de inversi??n</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRDetOperIntracomunitarias" type="siiLRC:LRConsultaDetOperIntracomunitariasType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de Determinadas Operaciones Intracomunitarias</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRCobrosMetalico" type="siiLRC:LRConsultaCobrosMetalicoType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de Cobros en Met??lico</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRAgenciasViajes" type="siiLRC:LRConsultaAgenciasViajesType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de Cobros en Met??lico</documentation>
    </annotation>
  </element>
  <element name="ConsultaCobros" type="siiLRC:ConsultaCobrosType">
    <annotation>
      <documentation>Servicio de consulta de cobros en el libro de registro de facturas expedidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaInmueblesAdicionales" type="siiLRC:ConsultaInmueblesAdicionalesType">
    <annotation>
      <documentation>Servicio de consulta de Inmuebles adicionales</documentation>
    </annotation>
  </element>
  <element name="ConsultaPagos" type="siiLRC:ConsultaPagosType">
    <annotation>
      <documentation>Servicio de consulta de pagos en el libro de registro de facturas recibidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaLROperacionesSeguros" type="siiLRC:LRConsultaLROperacionesSegurosType">
    <annotation>
      <documentation>Servicio de consulta de operaciones de seguros</documentation>
    </annotation>
  </element>
</schema>